<?xml version="1.0" encoding="utf-8"?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>GitExtensions 3.x</name>
  <summary xml:lang="en">GitExtensions is a graphical interface for Git</summary>
  <summary xml:lang="de">GitExtensions ist eine grafische Oberfläche für Git</summary>
  <icon href="https://raw.githubusercontent.com/0install/repo.roscidus.com/master/git/gitextensions.ico" type="image/vnd.microsoft.icon"/>
  <icon href="https://raw.githubusercontent.com/0install/repo.roscidus.com/master/git/gitextensions.png" type="image/png"/>
  <category>Development</category>
  <homepage>https://github.com/gitextensions/gitextensions</homepage>

  <feed-for interface="http://repo.roscidus.com/git/gitextensions-3"/>

  <group license="GPL v3 (GNU General Public License)">
    <requires interface="http://repo.roscidus.com/git/core">
      <environment insert="." mode="replace" name="GITEXT_GIT"/>
      <environment insert="bin" name="PATH"/>
    </requires>
    <requires importance="recommended" interface="http://repo.roscidus.com/utils/putty" os="Windows">
      <environment insert="." mode="replace" name="GITEXT_PUTTY"/>
      <environment insert="plink.exe" mode="replace" name="GITEXT_PLINK"/>
      <environment insert="puttygen.exe" mode="replace" name="GITEXT_PUTTYGEN"/>
      <environment insert="pageant.exe" mode="replace" name="GITEXT_PAGEANT"/>
    </requires>
    <command name="run" path="GitExtensions.exe">
      <runner command="run-gui" interface="http://repo.roscidus.com/dotnet/framework"/>
    </command>
    <command name="gitex" path="GitExtensions.exe">
      <runner command="run" interface="http://repo.roscidus.com/dotnet/framework"/>
    </command>

    <implementation version="{version}" released="{released}" stability="{stability}">
      <manifest-digest/>
      <archive extract="SourceDir/GitExtensions" href="{download-url}" type="application/x-msi"/>
    </implementation>
  </group>
</interface>
