<?xml version="1.0" encoding="utf-8"?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Git for Windows</name>
  <summary>decentralized version control system</summary>
  <description>Git is a powerful version control system aiming to be the fastest decentralized source code management tool on this planet.</description>
  <category>Development</category>
  <homepage>https://git-for-windows.github.io/</homepage>
  <needs-terminal/>

  <icon href="https://git-for-windows.github.io/img/gwindows_logo.png" type="image/png"/>

  <feed-for interface="http://repo.roscidus.com/git/windows"/>

  <group license="GPL v2 (GNU General Public License)">
    <requires interface="http://0install.de/feeds/PuTTY.xml">
      <environment name="GIT_SSH" insert="plink.exe" mode="replace"/>
    </requires>
    <environment name="PATH" insert="cmd"/>
    <environment name="PATH" insert="usr/bin"/>
    <command name="run" path="cmd/git.exe"/>
    <command name="run-gui" path="cmd/git-gui.exe"/>
    <command name="gitk" path="cmd/gitk.exe"/>
    <command name="start-ssh-agent" path="cmd/start-ssh-agent.cmd"/>
    <command name="git-bash" path="git-bash.exe"/>
    <command name="git-cmd" path="git-cmd.exe"/>
    <command name="bash" path="usr/bin/bash.exe"/>
    <command name="sh" path="usr/bin/sh.exe"/>
    <command name="ssh" path="usr/bin/ssh.exe"/>
    <command name="scp" path="usr/bin/scp.exe"/>
    <command name="curl" path="usr/bin/curl.exe"/>
    <!--<command name="arch" path="usr/bin/arch.exe"/>
    <command name="awk" path="usr/bin/awk.exe"/>
    <command name="basename" path="usr/bin/basename.exe"/>
    <command name="bunzip2" path="usr/bin/bunzip2.exe"/>
    <command name="bzcat" path="usr/bin/bzcat.exe"/>
    <command name="bzip2" path="usr/bin/bzip2.exe"/>
    <command name="bzip2recover" path="usr/bin/bzip2recover.exe"/>
    <command name="captoinfo" path="usr/bin/captoinfo.exe"/>
    <command name="cat" path="usr/bin/cat.exe"/>
    <command name="chcon" path="usr/bin/chcon.exe"/>
    <command name="chgrp" path="usr/bin/chgrp.exe"/>
    <command name="chmod" path="usr/bin/chmod.exe"/>
    <command name="chown" path="usr/bin/chown.exe"/>
    <command name="chroot" path="usr/bin/chroot.exe"/>
    <command name="cksum" path="usr/bin/cksum.exe"/>
    <command name="clear" path="usr/bin/clear.exe"/>
    <command name="cmp" path="usr/bin/cmp.exe"/>
    <command name="comm" path="usr/bin/comm.exe"/>
    <command name="cp" path="usr/bin/cp.exe"/>
    <command name="csplit" path="usr/bin/csplit.exe"/>
    <command name="cut" path="usr/bin/cut.exe"/>
    <command name="cygcheck" path="usr/bin/cygcheck.exe"/>
    <command name="cygpath" path="usr/bin/cygpath.exe"/>
    <command name="d2u" path="usr/bin/d2u.exe"/>
    <command name="dash" path="usr/bin/dash.exe"/>
    <command name="date" path="usr/bin/date.exe"/>
    <command name="dd" path="usr/bin/dd.exe"/>
    <command name="df" path="usr/bin/df.exe"/>
    <command name="diff" path="usr/bin/diff.exe"/>
    <command name="diff3" path="usr/bin/diff3.exe"/>
    <command name="dir" path="usr/bin/dir.exe"/>
    <command name="dircolors" path="usr/bin/dircolors.exe"/>
    <command name="dirname" path="usr/bin/dirname.exe"/>
    <command name="dos2unix" path="usr/bin/dos2unix.exe"/>
    <command name="du" path="usr/bin/du.exe"/>
    <command name="echo" path="usr/bin/echo.exe"/>
    <command name="env" path="usr/bin/env.exe"/>
    <command name="ex" path="usr/bin/ex.exe"/>
    <command name="expand" path="usr/bin/expand.exe"/>
    <command name="expr" path="usr/bin/expr.exe"/>
    <command name="factor" path="usr/bin/factor.exe"/>
    <command name="false" path="usr/bin/false.exe"/>
    <command name="file" path="usr/bin/file.exe"/>
    <command name="find" path="usr/bin/find.exe"/>
    <command name="fmt" path="usr/bin/fmt.exe"/>
    <command name="fold" path="usr/bin/fold.exe"/>
    <command name="funzip" path="usr/bin/funzip.exe"/>
    <command name="gawk" path="usr/bin/gawk.exe"/>
    <command name="gdbmtool" path="usr/bin/gdbmtool.exe"/>
    <command name="gdbm_dump" path="usr/bin/gdbm_dump.exe"/>
    <command name="gdbm_load" path="usr/bin/gdbm_load.exe"/>
    <command name="getconf" path="usr/bin/getconf.exe"/>
    <command name="getfacl" path="usr/bin/getfacl.exe"/>
    <command name="getopt" path="usr/bin/getopt.exe"/>
    <command name="git-flow" path="usr/bin/git-flow"/>
    <command name="gkill" path="usr/bin/gkill.exe"/>
    <command name="gpg-zip" path="usr/bin/gpg-zip"/>
    <command name="gpg" path="usr/bin/gpg.exe"/>
    <command name="gpgsplit" path="usr/bin/gpgsplit.exe"/>
    <command name="gpgv" path="usr/bin/gpgv.exe"/>
    <command name="grep" path="usr/bin/grep.exe"/>
    <command name="groups" path="usr/bin/groups.exe"/>
    <command name="gzip" path="usr/bin/gzip.exe"/>
    <command name="head" path="usr/bin/head.exe"/>
    <command name="hostid" path="usr/bin/hostid.exe"/>
    <command name="hostname" path="usr/bin/hostname.exe"/>
    <command name="iconv" path="usr/bin/iconv.exe"/>
    <command name="id" path="usr/bin/id.exe"/>
    <command name="infocmp" path="usr/bin/infocmp.exe"/>
    <command name="infotocap" path="usr/bin/infotocap.exe"/>
    <command name="install" path="usr/bin/install.exe"/>
    <command name="join" path="usr/bin/join.exe"/>
    <command name="kill" path="usr/bin/kill.exe"/>
    <command name="ldd" path="usr/bin/ldd.exe"/>
    <command name="ldh" path="usr/bin/ldh.exe"/>
    <command name="less" path="usr/bin/less.exe"/>
    <command name="lessecho" path="usr/bin/lessecho.exe"/>
    <command name="lesskey" path="usr/bin/lesskey.exe"/>
    <command name="link" path="usr/bin/link.exe"/>
    <command name="ln" path="usr/bin/ln.exe"/>
    <command name="locale" path="usr/bin/locale.exe"/>
    <command name="locate" path="usr/bin/locate.exe"/>
    <command name="logname" path="usr/bin/logname.exe"/>
    <command name="ls" path="usr/bin/ls.exe"/>
    <command name="mac2unix" path="usr/bin/mac2unix.exe"/>
    <command name="md5sum" path="usr/bin/md5sum.exe"/>
    <command name="minidumper" path="usr/bin/minidumper.exe"/>
    <command name="mintty" path="usr/bin/mintty.exe"/>
    <command name="mkdir" path="usr/bin/mkdir.exe"/>
    <command name="mkfifo" path="usr/bin/mkfifo.exe"/>
    <command name="mkgroup" path="usr/bin/mkgroup.exe"/>
    <command name="mknod" path="usr/bin/mknod.exe"/>
    <command name="mkpasswd" path="usr/bin/mkpasswd.exe"/>
    <command name="mktemp" path="usr/bin/mktemp.exe"/>
    <command name="mount" path="usr/bin/mount.exe"/>
    <command name="mv" path="usr/bin/mv.exe"/>
    <command name="nice" path="usr/bin/nice.exe"/>
    <command name="nl" path="usr/bin/nl.exe"/>
    <command name="nohup" path="usr/bin/nohup.exe"/>
    <command name="notepad" path="usr/bin/notepad"/>
    <command name="nproc" path="usr/bin/nproc.exe"/>
    <command name="numfmt" path="usr/bin/numfmt.exe"/>
    <command name="od" path="usr/bin/od.exe"/>
    <command name="oldfind" path="usr/bin/oldfind.exe"/>
    <command name="openssl" path="usr/bin/openssl.exe"/>
    <command name="p11-kit" path="usr/bin/p11-kit.exe"/>
    <command name="passwd" path="usr/bin/passwd.exe"/>
    <command name="paste" path="usr/bin/paste.exe"/>
    <command name="patch" path="usr/bin/patch.exe"/>
    <command name="pathchk" path="usr/bin/pathchk.exe"/>
    <command name="perl" path="usr/bin/perl.exe"/>
    <command name="pinky" path="usr/bin/pinky.exe"/>
    <command name="pldd" path="usr/bin/pldd.exe"/>
    <command name="pluginviewer" path="usr/bin/pluginviewer.exe"/>
    <command name="pr" path="usr/bin/pr.exe"/>
    <command name="printenv" path="usr/bin/printenv.exe"/>
    <command name="printf" path="usr/bin/printf.exe"/>
    <command name="ps" path="usr/bin/ps.exe"/>
    <command name="ptx" path="usr/bin/ptx.exe"/>
    <command name="pwd" path="usr/bin/pwd.exe"/>
    <command name="readlink" path="usr/bin/readlink.exe"/>
    <command name="realpath" path="usr/bin/realpath.exe"/>
    <command name="rebase" path="usr/bin/rebase.exe"/>
    <command name="regtool" path="usr/bin/regtool.exe"/>
    <command name="reset" path="usr/bin/reset.exe"/>
    <command name="rm" path="usr/bin/rm.exe"/>
    <command name="rmdir" path="usr/bin/rmdir.exe"/>
    <command name="runcon" path="usr/bin/runcon.exe"/>
    <command name="rview" path="usr/bin/rview.exe"/>
    <command name="rvim" path="usr/bin/rvim.exe"/>
    <command name="sasldblistusers2" path="usr/bin/sasldblistusers2.exe"/>
    <command name="saslpasswd2" path="usr/bin/saslpasswd2.exe"/>
    <command name="sdiff" path="usr/bin/sdiff.exe"/>
    <command name="sed" path="usr/bin/sed.exe"/>
    <command name="seq" path="usr/bin/seq.exe"/>
    <command name="setfacl" path="usr/bin/setfacl.exe"/>
    <command name="setmetamode" path="usr/bin/setmetamode.exe"/>
    <command name="sftp" path="usr/bin/sftp.exe"/>
    <command name="sha1sum" path="usr/bin/sha1sum.exe"/>
    <command name="sha224sum" path="usr/bin/sha224sum.exe"/>
    <command name="sha256sum" path="usr/bin/sha256sum.exe"/>
    <command name="sha384sum" path="usr/bin/sha384sum.exe"/>
    <command name="sha512sum" path="usr/bin/sha512sum.exe"/>
    <command name="shred" path="usr/bin/shred.exe"/>
    <command name="shuf" path="usr/bin/shuf.exe"/>
    <command name="sleep" path="usr/bin/sleep.exe"/>
    <command name="slogin" path="usr/bin/slogin.exe"/>
    <command name="sort" path="usr/bin/sort.exe"/>
    <command name="split" path="usr/bin/split.exe"/>
    <command name="ssh-add" path="usr/bin/ssh-add.exe"/>
    <command name="ssh-agent" path="usr/bin/ssh-agent.exe"/>
    <command name="ssh-keygen" path="usr/bin/ssh-keygen.exe"/>
    <command name="ssh-keyscan" path="usr/bin/ssh-keyscan.exe"/>
    <command name="sshd" path="usr/bin/sshd.exe"/>
    <command name="ssp" path="usr/bin/ssp.exe"/>
    <command name="stat" path="usr/bin/stat.exe"/>
    <command name="stdbuf" path="usr/bin/stdbuf.exe"/>
    <command name="strace" path="usr/bin/strace.exe"/>
    <command name="stty" path="usr/bin/stty.exe"/>
    <command name="sum" path="usr/bin/sum.exe"/>
    <command name="sync" path="usr/bin/sync.exe"/>
    <command name="tabs" path="usr/bin/tabs.exe"/>
    <command name="tac" path="usr/bin/tac.exe"/>
    <command name="tail" path="usr/bin/tail.exe"/>
    <command name="tar" path="usr/bin/tar.exe"/>
    <command name="tee" path="usr/bin/tee.exe"/>
    <command name="test" path="usr/bin/test.exe"/>
    <command name="tic" path="usr/bin/tic.exe"/>
    <command name="timeout" path="usr/bin/timeout.exe"/>
    <command name="toe" path="usr/bin/toe.exe"/>
    <command name="touch" path="usr/bin/touch.exe"/>
    <command name="tput" path="usr/bin/tput.exe"/>
    <command name="tr" path="usr/bin/tr.exe"/>
    <command name="true" path="usr/bin/true.exe"/>
    <command name="truncate" path="usr/bin/truncate.exe"/>
    <command name="trust" path="usr/bin/trust.exe"/>
    <command name="tset" path="usr/bin/tset.exe"/>
    <command name="tsort" path="usr/bin/tsort.exe"/>
    <command name="tty" path="usr/bin/tty.exe"/>
    <command name="tzset" path="usr/bin/tzset.exe"/>
    <command name="u2d" path="usr/bin/u2d.exe"/>
    <command name="umount" path="usr/bin/umount.exe"/>
    <command name="uname" path="usr/bin/uname.exe"/>
    <command name="uncompress" path="usr/bin/uncompress"/>
    <command name="unexpand" path="usr/bin/unexpand.exe"/>
    <command name="uniq" path="usr/bin/uniq.exe"/>
    <command name="unix2dos" path="usr/bin/unix2dos.exe"/>
    <command name="unix2mac" path="usr/bin/unix2mac.exe"/>
    <command name="unlink" path="usr/bin/unlink.exe"/>
    <command name="unzip" path="usr/bin/unzip.exe"/>
    <command name="unzipsfx" path="usr/bin/unzipsfx.exe"/>
    <command name="users" path="usr/bin/users.exe"/>
    <command name="vdir" path="usr/bin/vdir.exe"/>
    <command name="view" path="usr/bin/view.exe"/>
    <command name="vim" path="usr/bin/vim.exe"/>
    <command name="vimdiff" path="usr/bin/vimdiff.exe"/>
    <command name="wc" path="usr/bin/wc.exe"/>
    <command name="which" path="usr/bin/which.exe"/>
    <command name="who" path="usr/bin/who.exe"/>
    <command name="whoami" path="usr/bin/whoami.exe"/>
    <command name="winpty" path="usr/bin/winpty.exe"/>
    <command name="xargs" path="usr/bin/xargs.exe"/>
    <command name="xmlwf" path="usr/bin/xmlwf.exe"/>
    <command name="xxd" path="usr/bin/xxd.exe"/>
    <command name="yes" path="usr/bin/yes.exe"/>
    <command name="zipinfo" path="usr/bin/zipinfo.exe"/>
    <command name="[" path="usr/bin/[.exe"/>    
    <command name="ssh-copy-id" path="usr/bin/sh.exe">
      <arg>/usr/bin/ssh-copy-id</arg>
    </command>
    <command name="egrep" path="usr/bin/sh.exe">
      <arg>/usr/bin/egrep</arg>
    </command>
    <command name="fgrep" path="usr/bin/sh.exe">
      <arg>/usr/bin/fgrep</arg>
    </command>
    <command name="igawk" path="usr/bin/sh.exe">
      <arg>/usr/bin/igawk</arg>
    </command>
    <command name="vi" path="usr/bin/sh.exe">
      <arg>/usr/bin/vi</arg>
    </command>
    <command name="wordpad" path="usr/bin/sh.exe">
      <arg>/usr/bin/wordpad</arg>
    </command>
    <command name="astextplain" path="usr/bin/sh.exe">
      <arg>/usr/bin/astextplain</arg>
    </command>
    <command name="backup" path="usr/bin/sh.exe">
      <arg>/usr/bin/backup</arg>
    </command>
    <command name="bashbug" path="usr/bin/sh.exe">
      <arg>/usr/bin/bashbug</arg>
    </command>
    <command name="bzcmp" path="usr/bin/sh.exe">
      <arg>/usr/bin/bzcmp</arg>
    </command>
    <command name="bzdiff" path="usr/bin/sh.exe">
      <arg>/usr/bin/bzdiff</arg>
    </command>
    <command name="bzegrep" path="usr/bin/sh.exe">
      <arg>/usr/bin/bzegrep</arg>
    </command>
    <command name="bzfgrep" path="usr/bin/sh.exe">
      <arg>/usr/bin/bzfgrep</arg>
    </command>
    <command name="bzgrep" path="usr/bin/sh.exe">
      <arg>/usr/bin/bzgrep</arg>
    </command>
    <command name="bzless" path="usr/bin/sh.exe">
      <arg>/usr/bin/bzless</arg>
    </command>
    <command name="bzmore" path="usr/bin/sh.exe">
      <arg>/usr/bin/bzmore</arg>
    </command>
    <command name="c_rehash" path="usr/bin/perl.exe">
      <arg>/usr/bin/c_rehash</arg>
    </command>
    <command name="docx2txt" path="usr/bin/sh.exe">
      <arg>/usr/bin/docx2txt</arg>
    </command>
    <command name="findssl" path="usr/bin/sh.exe">
      <arg>/usr/bin/findssl.sh</arg>
    </command>
    <command name="gunzip" path="usr/bin/sh.exe">
      <arg>/usr/bin/gunzip</arg>
    </command>
    <command name="gzexe" path="usr/bin/sh.exe">
      <arg>/usr/bin/gzexe</arg>
    </command>
    <command name="rebaseall" path="usr/bin/sh.exe">
      <arg>/usr/bin/rebaseall</arg>
    </command>
    <command name="restore" path="usr/bin/sh.exe">
      <arg>/usr/bin/restore</arg>
    </command>
    <command name="update-ca-trust" path="usr/bin/sh.exe">
      <arg>/usr/bin/update-ca-trust</arg>
    </command>
    <command name="updatedb" path="usr/bin/sh.exe">
      <arg>/usr/bin/updatedb</arg>
    </command>
    <command name="vimtutor" path="usr/bin/sh.exe">
      <arg>/usr/bin/vimtutor</arg>
    </command>
    <command name="zcat" path="usr/bin/sh.exe">
      <arg>/usr/bin/zcat</arg>
    </command>
    <command name="zcmp" path="usr/bin/sh.exe">
      <arg>/usr/bin/zcmp</arg>
    </command>
    <command name="zdiff" path="usr/bin/sh.exe">
      <arg>/usr/bin/zdiff</arg>
    </command>
    <command name="zegrep" path="usr/bin/sh.exe">
      <arg>/usr/bin/zegrep</arg>
    </command>
    <command name="zfgrep" path="usr/bin/sh.exe">
      <arg>/usr/bin/zfgrep</arg>
    </command>
    <command name="zforce" path="usr/bin/sh.exe">
      <arg>/usr/bin/zforce</arg>
    </command>
    <command name="zgrep" path="usr/bin/sh.exe">
      <arg>/usr/bin/zgrep</arg>
    </command>
    <command name="zipgrep" path="usr/bin/sh.exe">
      <arg>/usr/bin/zipgrep</arg>
    </command>
    <command name="zless" path="usr/bin/sh.exe">
      <arg>/usr/bin/zless</arg>
    </command>
    <command name="zmore" path="usr/bin/sh.exe">
      <arg>/usr/bin/zmore</arg>
    </command>
    <command name="znew" path="usr/bin/sh.exe">
      <arg>/usr/bin/znew</arg>
    </command>-->
    <implementation arch="Windows-x86_64" version="{version}" stability="stable" released="{released}">
      <archive href="https://github.com/git-for-windows/git/releases/download/v{main-version}.windows.{build}/Git-{version}-64-bit.tar.bz2" type="application/x-bzip-compressed-tar"/>
    </implementation>
    <implementation arch="Windows-i486" version="{version}" stability="stable" released="{released}">
      <archive href="https://github.com/git-for-windows/git/releases/download/v{main-version}.windows.{build}/Git-{version}-32-bit.tar.bz2" type="application/x-bzip-compressed-tar"/>
    </implementation>
  </group>
</interface>
