<?xml version="1.0" encoding="utf-8"?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Git for Windows</name>
  <summary>decentralized version control system</summary>
  <description>Git is a powerful version control system aiming to be the fastest decentralized source code management tool on this planet.</description>
  <category>Development</category>
  <homepage>https://git-for-windows.github.io/</homepage>
  <needs-terminal/>

  <icon href="https://git-for-windows.github.io/img/gwindows_logo.png" type="image/png"/>

  <feed-for interface="http://repo.roscidus.com/git/windows"/>

  <group license="GPL v2 (GNU General Public License)">
    <requires interface="http://0install.de/feeds/PuTTY.xml">
      <environment name="GIT_SSH" insert="plink.exe" mode="replace"/>
    </requires>
    <command name="run" path="cmd/git.exe"/>
    <command name="run-gui" path="cmd/git-gui.exe"/>
    <command name="gitk" path="cmd/gitk.exe"/>
    <command name="start-ssh-agent" path="cmd/start-ssh-agent.cmd"/>
    <command name="git-bash" path="git-bash.exe"/>
    <command name="git-cmd" path="git-cmd.exe"/>
    <command name="bash" path="usr/bin/bash.exe"/>
    <command name="sh" path="usr/bin/sh.exe"/>
    <command name="ssh" path="usr/bin/ssh.exe"/>
    <command name="scp" path="usr/bin/scp.exe"/>
    <command name="gpg" path="usr/bin/gpg.exe"/>
    <command name="gpgv" path="usr/bin/gpgv.exe"/>
    <command name="gpgsplit" path="usr/bin/gpgsplit.exe"/>
    <implementation arch="Windows-x86_64" version="{version}" stability="stable" released="{released}">
      <manifest-digest/>
      <command name="curl" path="mingw64/bin/curl.exe"/>
      <archive href="https://github.com/git-for-windows/git/releases/download/v{main-version}.windows.{build}/Git-{version}-64-bit.tar.bz2" type="application/x-bzip-compressed-tar"/>
    </implementation>
    <implementation arch="Windows-i486" version="{version}" stability="stable" released="{released}">
      <manifest-digest/>
      <command name="curl" path="mingw32/bin/curl.exe"/>
      <archive href="https://github.com/git-for-windows/git/releases/download/v{main-version}.windows.{build}/Git-{version}-32-bit.tar.bz2" type="application/x-bzip-compressed-tar"/>
    </implementation>
  </group>
</interface>
