branches:
  except:
    - pending-linux
    - pending-windows

image:
- Ubuntu
- Visual Studio 2017

for:
  - matrix:
      only:
        - image: Ubuntu
    before_build:
      - sudo apt-get install -y --no-install-recommends 0install-core python-gobject
    clone_folder: $HOME/repo/feeds
    build_script:
      # Generate feeds using watch scripts
      - ./watch.sh
      # Merge feeds into branch using 0repo
      - git checkout -b pending-linux
      - cp .ci/0repo-config.py ..
      - pushd ..; feeds/.ci/ci.sh; popd
      # Push branch back to GitHub
      - git config --global credential.helper store
      - echo "https://$GITHUB_ACCESS_TOKEN:x-oauth-basic@github.com" >> ~/.git-credentials
      - git push origin pending-linux --force

  - matrix:
      only:
        - image: Visual Studio 2017
    cache:
      - '%LOCALAPPDATA%\0install.net'
      - '%APPDATA%\0install.net'
    clone_folder: C:\projects\repo\feeds
    build_script:
      # Generate feeds using watch scripts
      - ps: .\watch.ps1
      # Merge feeds into branch using 0repo
      - git checkout -b pending-windows
      - ps: cp .ci\0repo-config.py ..
      - ps: pushd ..; feeds\.ci\ci.ps1; popd
      # Push branch back to GitHub
      - git config --global credential.helper store
      - ps: Add-Content ~\.git-credentials "https://${env:GITHUB_ACCESS_TOKEN}:x-oauth-basic@github.com`n"
      - git push origin pending-windows --force
