<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Audacity</name>
  <summary xml:lang="en">fast multi-track audio editor and recorder</summary>
  <summary xml:lang="de">schneller Mehrspur-Audio-Editor und -Aufzeichner</summary>
  <description xml:lang="en">A fast multi-track audio editor and recorder. Supports WAV, AIFF, Ogg, and MP3 formats. Features include envelope editing, mixing, built-in effects and plug-ins, all with unlimited undo.</description>
  <description xml:lang="de">Ein schneller Mehrspur-Audio-Editor und -Aufzeichner. Unterstützt die WAV, AIFF, Ogg, und MP3 Formate.</description>
  <homepage>https://www.audacityteam.org/</homepage>
  <icon href="https://raw.githubusercontent.com/0install/apps/master/gui/audacity.png" type="image/png"/>
  <icon href="https://raw.githubusercontent.com/0install/apps/master/gui/audacity.ico" type="image/vnd.microsoft.icon"/>
  <category>Audio</category>

  <feed-for interface="https://apps.0install.net/gui/audacity.xml"/>

  <group license="GPL v2 (GNU General Public License)" main="audacity.exe">
    <requires importance="recommended" interface="https://apps.0install.net/utils/ffmpeg.xml" version="2.0..!3.0"/>

    <implementation arch="Windows-*" version="{version}" released="{released}" stability="stable" main="audacity.exe">
      <manifest-digest/>
      <archive href="https://fossies.org/windows/misc/audacity-win-{version}.zip" type="application/zip"/>
    </implementation>
  </group>
</interface>
