<?xml version="1.0"?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd">
  <name>Camunda Modeler</name>
  <summary>BPMN workflow modeler</summary>
  <description>An integrated modeling solution for BPMN and DMN based on bpmn.io.</description>
  <icon href="https://raw.githubusercontent.com/0install/apps/master/gui/camunda-modeler.ico" type="image/vnd.microsoft.icon"/>
  <icon href="https://raw.githubusercontent.com/0install/apps/master/gui/camunda-modeler.png" type="image/png"/>
  <category>Development</category>
  <homepage>https://camunda.com/products/modeler</homepage>

  <feed-for interface="https://apps.0install.net/gui/camunda-modeler.xml"/>

  <group license="MIT License">
    <command name="run" path="Camunda Modeler.exe"/>
    <implementation arch="Windows-x86_64" released="{released}" stability="stable" version="{version}">
      <manifest-digest/>
      <archive href="https://downloads.camunda.cloud/release/camunda-modeler/{version}/camunda-modeler-{version}-win-x64.zip" type="application/zip"/>
    </implementation>
    <implementation arch="Windows-i486" released="{released}" stability="stable" version="{version}">
      <manifest-digest/>
      <archive href="https://downloads.camunda.cloud/release/camunda-modeler/{version}/camunda-modeler-{version}-win-ia32.zip" type="application/zip"/>
    </implementation>
  </group>

  <group arch="Linux-x86_64" license="MIT License">
    <command name="run" path="camunda-modeler"/>
    <implementation released="{released}" stability="stable" version="{version}">
      <manifest-digest/>
      <archive extract="camunda-modeler-{version}-linux-x64" href="https://downloads.camunda.cloud/release/camunda-modeler/{version}/camunda-modeler-{version}-linux-x64.tar.gz" type="application/x-compressed-tar"/>
    </implementation>
  </group>

  <group arch="MacOSX-x86_64" license="MIT License">
    <command name="run" path="Contents/MacOS/Camunda Modeler"/>
    <implementation released="{released}" stability="stable" version="{version}">
      <manifest-digest/>
      <archive extract="Camunda Modeler.app" href="https://downloads.camunda.cloud/release/camunda-modeler/{version}/camunda-modeler-{version}-mac.zip" type="application/zip"/>
    </implementation>
  </group>
</interface>
