<?xml version="1.0" encoding="utf-8"?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>GitExtensions 2.x</name>
  <summary xml:lang="en">GitExtensions is a graphical interface for Git</summary>
  <summary xml:lang="de">GitExtensions ist eine grafische Oberfläche für Git</summary>
  <icon href="https://raw.githubusercontent.com/0install/apps.0install.net/master/gui/gitextensions.ico" type="image/vnd.microsoft.icon"/>
  <icon href="https://raw.githubusercontent.com/0install/apps.0install.net/master/gui/gitextensions.png" type="image/png"/>
  <category>Development</category>
  <homepage>https://github.com/gitextensions/gitextensions</homepage>

  <feed-for interface="https://apps.0install.net/gui/gitextensions-2.xml"/>

  <group license="GPL v3 (GNU General Public License)">
    <requires interface="https://apps.0install.net/devel/git.xml">
      <environment insert="." mode="replace" name="GITEXT_GIT"/>
      <environment insert="bin" name="PATH"/>
    </requires>
    <requires importance="recommended" interface="https://apps.0install.net/gui/putty.xml" os="Windows">
      <environment insert="." mode="replace" name="GITEXT_PUTTY"/>
      <environment insert="plink.exe" mode="replace" name="GITEXT_PLINK"/>
      <environment insert="puttygen.exe" mode="replace" name="GITEXT_PUTTYGEN"/>
      <environment insert="pageant.exe" mode="replace" name="GITEXT_PAGEANT"/>
    </requires>
    <command name="run" path="GitExtensions.exe">
      <runner command="run-gui" interface="https://apps.0install.net/dotnet/clr.xml"/>
    </command>
    <command name="gitex" path="GitExtensions.exe">
      <runner command="run" interface="https://apps.0install.net/dotnet/clr.xml"/>
    </command>

    <implementation arch="POSIX-*" version="{version}" released="{released}" stability="{stability}">
      <manifest-digest/>
      <archive href="https://github.com/gitextensions/gitextensions/releases/download/v{original-version}/GitExtensions-{original-version}-Mono.zip" type="application/zip" extract="GitExtensions"/>
    </implementation>
    <implementation arch="Windows-*" version="{version}" released="{released}" stability="{stability}">
      <manifest-digest/>
      <archive href="https://github.com/gitextensions/gitextensions/releases/download/v{original-version}/GitExtensions-{original-version}.msi" type="application/x-msi" extract="SourceDir/GitExtensions"/>
    </implementation>
  </group>
</interface>
