<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Media Player Classic Home Cinema</name>
  <summary xml:lang="en">free audio and video player for Windows</summary>
  <summary xml:lang="de">kostenloser Audio- und Video-Player für Windows</summary>
  <description xml:lang="en">Media Player Classic mimics the look and feel of the old, lightweight Windows Media Player 6.4 but provides modern features. Media Player Classic Home Cinema is a fork that updates the original player and adds many useful features and additional video decoders.</description>
  <description xml:lang="de">Media Player Classic ahmt den Stil des alten, leichtgewichtigen Windows Media Player 6.4 nach, bietet aber moderne Features. Media Player Classic Home Cinema ist ein Fork, der den ursprünglicher Player aktualisiert und viele nützliche Features sowie zusätzliche Video-Decoder hinzufügt.</description>
  <homepage>http://mpc-hc.sourceforge.net/</homepage>
  <icon href="https://raw.githubusercontent.com/0install/apps/master/gui/mpc-hc.png" type="image/png" />
  <icon href="https://raw.githubusercontent.com/0install/apps/master/gui/mpc-hc.ico" type="image/vnd.microsoft.icon" />
  <category>AudioVideo</category>
  <feed-for interface="https://apps.0install.net/gui/mpc-hc.xml" />
  <group license="GPL v2 (GNU General Public License)">
    <implementation arch="Windows-x86_64" version="{version}" stability="stable" main="mpc-hc64.exe">
      <manifest-digest />
      <archive href="https://binaries.mpc-hc.org/MPC%20HomeCinema%20-%20x64/MPC-HC_v{version}_x64/MPC-HC.{version}.x64.zip" type="application/zip" extract="MPC-HC.{version}.x64" />
    </implementation>
    <implementation arch="Windows-i486" version="{version}" stability="stable" main="mpc-hc.exe">
      <manifest-digest />
      <archive href="https://binaries.mpc-hc.org/MPC%20HomeCinema%20-%20Win32/MPC-HC_v{version}_x86/MPC-HC.{version}.x86.zip" type="application/zip" extract="MPC-HC.{version}.x86" />
    </implementation>
  </group>
</interface>
