<?xml version="1.0" encoding="utf-8"?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>PuTTY</name>
  <summary xml:lang="en">Telnet and SSH client</summary>
  <summary xml:lang="de">Telnet und SSH Klient</summary>
  <description xml:lang="en">PuTTY is a free implementation of Telnet and SSH for Windows and Unix platforms, along with an xterm terminal emulator.</description>
  <description xml:lang="de">PuTTY ist eine freie Implementierung von Telnet und SSH für Windows und Unix Plattformen kombiniert mit einem xterm Terminal Emulator.</description>
  <homepage>http://www.chiark.greenend.org.uk/~sgtatham/putty/</homepage>
  <icon href="https://raw.githubusercontent.com/0install/apps.0install.net/master/gui/putty.png" type="image/png"/>
  <icon href="https://raw.githubusercontent.com/0install/apps.0install.net/master/gui/putty.ico" type="image/vnd.microsoft.icon"/>
  <category>Network</category>
  <category>Utility</category>

  <feed-for interface="https://apps.0install.net/gui/putty.xml"/>

  <group license="MIT/X Consortium License">
    <command name="run" path="PUTTY.EXE"/>
    <command name="putty" path="PUTTY.EXE"/>
    <command name="puttygen" path="PUTTYGEN.EXE"/>
    <command name="pageant" path="PAGEANT.EXE"/>
    <command name="plink" path="PLINK.EXE"/>
    <command name="pscp" path="PSCP.EXE"/>
    <command name="psftp" path="PSFTP.EXE"/>

    <environment insert="plink.exe" mode="replace" name="GIT_SSH"/>
    <environment insert="plink.exe" mode="replace" name="SVN_SSH"/>

    <implementation version="{version}" released="{released}" arch="Windows-x86_64" stability="stable">
      <manifest-digest/>
      <archive href="https://the.earth.li/~sgtatham/putty/{version}/w64/putty.zip" type="application/zip"/>
    </implementation>
    <implementation version="{version}" released="{released}" arch="Windows-i486" stability="stable">
      <manifest-digest/>
      <archive href="https://the.earth.li/~sgtatham/putty/{version}/w32/putty.zip" type="application/zip"/>
    </implementation>
  </group>
</interface>
