<?xml version="1.0"?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd">
  <name>DB Browser for SQLite - macOS builds</name>
  <summary>visual tool to create, design, and edit SQLite files</summary>
  <description>DB Browser for SQLite (DB4S) is a high quality, visual, open source tool to create, design, and edit database files compatible with SQLite.</description>
  <icon href="https://apps.0install.net/gui/sqlitebrowser.png" type="image/png"/>
  <category>Development</category>
  <homepage>https://sqlitebrowser.org/</homepage>

  <feed-for interface="https://apps.0install.net/gui/sqlitebrowser-macos.xml"/>

  <group license="MPL (Mozilla Public License)">
    <command name="run" path="DB Browser for SQLite.app/Contents/MacOS/DB Browser for SQLite"/>
    <implementation arch="MacOSX-*" released="{released}" stability="{stability}" version="{version}">
      <manifest-digest/>
      <archive href="https://github.com/sqlitebrowser/sqlitebrowser/releases/download/v{version}/DB.Browser.for.SQLite-v{version}.dmg" type="application/x-apple-diskimage"/>
    </implementation>
  </group>
</interface>
