<?xml version="1.0"?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd">
  <name>DB Browser for SQLite</name>
  <summary>visual tool to create, design, and edit SQLite files</summary>
  <description>DB Browser for SQLite (DB4S) is a high quality, visual, open source tool to create, design, and edit database files compatible with SQLite.</description>
  <icon href="https://raw.githubusercontent.com/0install/apps/master/gui/sqlitebrowser.ico" type="image/vnd.microsoft.icon"/>
  <icon href="https://raw.githubusercontent.com/0install/apps/master/gui/sqlitebrowser.png" type="image/png"/>
  <category>Development</category>
  <homepage>https://sqlitebrowser.org/</homepage>

  <feed-for interface="https://apps.0install.net/gui/sqlitebrowser.xml"/>

  <group license="MPL (Mozilla Public License)">
    <command name="run" path="DB Browser for SQLite.exe"/>
    <command name="cipher" path="DB Browser for SQLCipher.exe"/>
    <implementation arch="Windows-x86_64" released="{released}" stability="{stability}" version="{version}">
      <archive extract="DB Browser for SQLite" href="https://github.com/sqlitebrowser/sqlitebrowser/releases/download/v{original-version}/DB.Browser.for.SQLite-{original-version}-win64.zip" type="application/zip"/>
    </implementation>
    <implementation arch="Windows-i486" released="{released}" stability="{stability}" version="{version}">
      <archive extract="DB Browser for SQLite" href="https://github.com/sqlitebrowser/sqlitebrowser/releases/download/v{original-version}/DB.Browser.for.SQLite-{original-version}-win32.zip" type="application/zip"/>
    </implementation>
  </group>
</interface>
