<?xml version="1.0" encoding="utf-8"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>WinMerge</name>
  <summary xml:lang="en">differencing and merging tool for Windows</summary>
  <summary xml:lang="de">Programm zum Vergleichen und Zusammenführen von Dateien sowie Ordner</summary>
  <description xml:lang="en">WinMerge is an Open Source differencing and merging tool for Windows. WinMerge can compare both folders and files, presenting differences in a visual text format that is easy to understand and handle.</description>
  <description xml:lang="de">WinMerge ist ein Open-Source-Programm zum Vergleichen und Zusammenführen von Dateien sowie Ordner. Das Windows-Tool stellt Unterschiede in einem visuellen Text-Format dar, das einfach zu verstehen und zu handhaben ist.</description>
  <homepage>http://winmerge.org/</homepage>
  <icon href="https://raw.githubusercontent.com/0install/apps/master/gui/winmerge.png" type="image/png" />
  <icon href="https://raw.githubusercontent.com/0install/apps/master/gui/winmerge.ico" type="image/vnd.microsoft.icon" />
  <category>Development</category>
  <category>Utility</category>
  <feed-for interface="https://apps.0install.net/gui/winmerge.xml" />
  <group license="GPL v2 (GNU General Public License)">
    <requires interface="https://apps.0install.net/lib/msvc90.xml">
      <environment name="PATH" insert="." mode="append" />
    </requires>
    <implementation arch="Windows-i486" version="{version}" released="{released}" stability="stable" main="WinMergeU.exe">
      <manifest-digest />
      <archive href="http://downloads.sourceforge.net/winmerge/stable/{version}/WinMerge-{version}-exe.zip" type="application/zip" extract="WinMerge-{version}-exe" />
    </implementation>
    <implementation arch="Windows-src" version="{version}" released="{released}" stability="stable">
      <manifest-digest />
      <archive href="http://downloads.sourceforge.net/winmerge/stable/{version}/WinMerge-{version}-src.zip" type="application/zip" extract="WinMerge-{version}-src" />
    </implementation>
  </group>
</interface>
