<?xml version="1.0" ?>
<interface uri="https://apps.0install.net/docker/app.xml" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Docker Application Packages</name>
  <summary>utility to help make Compose files more reusable and sharable</summary>
  <homepage>https://github.com/docker/app</homepage>
  <needs-terminal/>

  <group license="Apache License 2.0">
    <implementation arch="Windows-x86_64" id="sha1new=decf67fc892e24c77a853e84f63987114f64afc2" main="docker-app-windows.exe" released="2018-05-11" stability="testing" version="0.1.0">
      <manifest-digest sha256new="JQZZNJXQGH55CFLL24EOVZGQNAGKMZ7FWF2L3CLCCW3ZCG6D3ZFQ"/>
      <archive href="https://github.com/docker/app/releases/download/0.1.0/docker-app-windows-0.1.0.tar.gz" size="8962547" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Linux-x86_64" id="sha1new=89b50ccfd986d8dd7d7f498f8fec6cb2e33140fc" main="docker-app-linux" released="2018-05-11" stability="testing" version="0.1.0">
      <manifest-digest sha256new="VDJAD2BH2JUSXRW7R44EKUPHNTGB763H2MTWQPMJWGERWTXB2AHQ"/>
      <archive href="https://github.com/docker/app/releases/download/0.1.0/docker-app-linux-0.1.0.tar.gz" size="8926692" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Darwin-x86_64" id="sha1new=831d095152ab85c578ab37e383e60753c2facb52" main="docker-app-darwin" released="2018-05-11" stability="testing" version="0.1.0">
      <manifest-digest sha256new="U2OXXMH34K2HRYC2RVEHC3NZDHEMWDIDM5DJB67TDVVKXF4RVR3A"/>
      <archive href="https://github.com/docker/app/releases/download/0.1.0/docker-app-darwin-0.1.0.tar.gz" size="9456472" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Windows-x86_64" id="sha1new=d9dfa84fa6671bd9ea51ea9be677f7777d1112a5" main="docker-app-windows.exe" released="2018-06-11" stability="testing" version="0.2.0">
      <manifest-digest sha256new="QXADQO4B265HN5I2AH7T4IAOCPJX2LSKUDBNTSDVPYSUNTVUCUUA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.2.0/docker-app-windows.tar.gz" size="9028715" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Linux-x86_64" id="sha1new=75cd319f93a893345d9e16513c458d496ff4120c" main="docker-app-linux" released="2018-06-11" stability="testing" version="0.2.0">
      <manifest-digest sha256new="EXHM3EM3YMR3CGYCUBQ5BVCW3V3TN4TP4EKO55QV3P55X6KW2V4A"/>
      <archive href="https://github.com/docker/app/releases/download/v0.2.0/docker-app-linux.tar.gz" size="8991414" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Darwin-x86_64" id="sha1new=92b17ad77ad27034f1598898b62f0f88df51e48c" main="docker-app-darwin" released="2018-06-11" stability="testing" version="0.2.0">
      <manifest-digest sha256new="JSUWWZVFWTHMWT74XXUCSTEWXHLVDL6J4ZYYLSTS62RFLFHUQRVQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.2.0/docker-app-darwin.tar.gz" size="9521246" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Windows-x86_64" id="sha1new=cbe4c7ab729531d5ec3fc2c5139bd7c6ecdc7fa4" main="docker-app-windows.exe" released="2018-06-29" stability="testing" version="0.3.0">
      <manifest-digest sha256new="XNCEYG5UTFDV5ODWFXDOJRZ3FNRPYZQOMPZ66SN2W4A7GW42ZKSA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.3.0/docker-app-windows.tar.gz" size="9071183" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Linux-x86_64" id="sha1new=6e1c55516d28afe089e406e7b5bcf2e14fa14e22" main="docker-app-linux" released="2018-06-29" stability="testing" version="0.3.0">
      <manifest-digest sha256new="VEHL34TRA3YI6KQINBI34XZXKEE4CIAOXTIMCJG6AE23SZ23HKRA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.3.0/docker-app-linux.tar.gz" size="8998115" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Darwin-x86_64" id="sha1new=a1ad6bda464e8e8e466c7ce832d679df1ffb7e8a" main="docker-app-darwin" released="2018-06-29" stability="testing" version="0.3.0">
      <manifest-digest sha256new="53KAEPTBPILGEOEIJTSE3V5DCFT4COPPBCPZ5SRTRYBTLDIOCKLA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.3.0/docker-app-darwin.tar.gz" size="9524471" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Windows-x86_64" id="sha1new=6f4c79510ed34a9cd1a44a519c2944a6f702c0b5" main="docker-app-windows.exe" released="2018-08-21" stability="testing" version="0.4.0">
      <manifest-digest sha256new="GYKFI2WXKZOOOVZM3AZ5ONJIYCQXMH2G2YPKKM3LMB4A6ICIJ2KA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.4.0/docker-app-windows.tar.gz" size="9178818" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Linux-x86_64" id="sha1new=e86db28850588bb0fbc7e7a547cba677107c9af8" main="docker-app-linux" released="2018-08-21" stability="testing" version="0.4.0">
      <manifest-digest sha256new="57DK7XF52M3NG7UF2XL75A5KA2ZK7V6TGCSATEPNLMCFZULZJCBA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.4.0/docker-app-linux.tar.gz" size="9109406" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Darwin-x86_64" id="sha1new=32ecaf9ef6aaff23d3c26bda48f66ddd9b094298" main="docker-app-darwin" released="2018-08-21" stability="testing" version="0.4.0">
      <manifest-digest sha256new="HRLTPWTL3QLZOB2HND7IT32VAVBRGX2UMCYIIBIQR4AEX6WKGQHA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.4.0/docker-app-darwin.tar.gz" size="9637790" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Windows-x86_64" id="sha1new=b7cfe78973b28a61dfb4963fffde2ec306722aae" main="docker-app-windows.exe" released="2018-08-22" stability="testing" version="0.4.1">
      <manifest-digest sha256new="ICIQWYXFMJUJUYK7LDNG2UYZJJTMHKEK3XMHQ5XD3ZMH7G4WMZRA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.4.1/docker-app-windows.tar.gz" size="9181818" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Linux-x86_64" id="sha1new=21176e0cf1fc3f7999ea4a44ccc487f70a6c5732" main="docker-app-linux" released="2018-08-22" stability="testing" version="0.4.1">
      <manifest-digest sha256new="XG3OHOI3FZ24DPEBVTV6ANTHMLWJMSI24MZ7WCV2DZH4AZBMPIWA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.4.1/docker-app-linux.tar.gz" size="9111477" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Darwin-x86_64" id="sha1new=57f9c1e5fc5d30396d8d4fd4d87147368a2785ac" main="docker-app-darwin" released="2018-08-22" stability="testing" version="0.4.1">
      <manifest-digest sha256new="4BSZWFETVOARML4GFVTVR45R2LXE5WLOEFB7FZJGGKC2IM7UT7UA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.4.1/docker-app-darwin.tar.gz" size="9638386" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Windows-x86_64" id="sha1new=51a44e6c121510564e5c6b3f45645ea0901d45bd" main="docker-app-windows.exe" released="2018-09-14" stability="testing" version="0.5.0">
      <manifest-digest sha256new="S7FXGV567IX2HUXYDFC2KCX6JG5WKR4YINUNIQHFINVSWIIXML6Q"/>
      <archive href="https://github.com/docker/app/releases/download/v0.5.0/docker-app-windows.tar.gz" size="9400530" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Linux-x86_64" id="sha1new=e013f17bafbc1a7fefca2316b1fe29191f02ab14" main="docker-app-linux" released="2018-09-14" stability="testing" version="0.5.0">
      <manifest-digest sha256new="CS4B6HRJEDH62XQQPOL4XSVKQCERU5H7TH2XE2HZ5KJMP2QN3GNQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.5.0/docker-app-linux.tar.gz" size="9346873" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Darwin-x86_64" id="sha1new=57de46abc6acedb258cc1f0ec5e5769115ffdbe8" main="docker-app-darwin" released="2018-09-14" stability="testing" version="0.5.0">
      <manifest-digest sha256new="HSN5JUYCVYVSYNFO7USIDWF6KAW6NLVM3QYO3P3PGXHCYJ3MH5IA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.5.0/docker-app-darwin.tar.gz" size="9871567" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Windows-x86_64" id="sha1new=32013d868445fdc0fea5de8eb5813644d4f7a0ae" main="docker-app-windows.exe" released="2018-10-04" stability="testing" version="0.6.0">
      <manifest-digest sha256new="7LIHIVPL35V4LBNAM7QA6T6GZE4AQ5INMRDGZ6FDXIVGETQCD2ZQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.6.0/docker-app-windows.tar.gz" size="11078967" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Linux-x86_64" id="sha1new=c67cbc3d6e102726b60a586cbb8f0aafa8fe27e6" main="docker-app-linux" released="2018-10-04" stability="testing" version="0.6.0">
      <manifest-digest sha256new="TWT7X5VQYJU7GPGJ3UE7SUS457C67BURMAAMVBZ2CENTBX3LL6ZA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.6.0/docker-app-linux.tar.gz" size="11054002" type="application/x-compressed-tar"/>
    </implementation>
    <implementation arch="Darwin-x86_64" id="sha1new=4beb9bb19b67efa920c4bd53476b78bbeddf51b3" main="docker-app-darwin" released="2018-10-04" stability="testing" version="0.6.0">
      <manifest-digest sha256new="UJWIEE43PA6DXMZXO5RXSBAF2R7YYJWGQBRBFLTIZE3B23WQVXNA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.6.0/docker-app-darwin.tar.gz" size="11585786" type="application/x-compressed-tar"/>
    </implementation>
  </group>

  <group arch="Windows-x86_64" license="Apache License 2.0">
    <command name="run" path="docker-app-plugin-windows.exe">
      <arg>app</arg>
    </command>
    <implementation id="sha1new=63a0998761f5b7cd7fad9075b5a0608801482d41" released="2019-04-18" stability="testing" version="0.8.0-pre1">
      <manifest-digest sha256new="E6PVN7CPKLQLZSZVH4P6ESGYBOLBHY5V4NOSWOSKIG5CWURC6C3A"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0-beta1/docker-app-windows.tar.gz" size="23956062" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=6d3bdd1c5e20e550adf9074b4c48213836f6e80b" released="2019-04-26" stability="testing" version="0.8.0-pre2">
      <manifest-digest sha256new="WOWMVPNNXUIBMMY5DSDGR7WXQSKAUC3YTYMTWHD6SAWLRHDMC4AQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0-beta2/docker-app-windows.tar.gz" size="23974315" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=8fe7d238b916869b4fbd99f138287a2bdf1adbf7" released="2019-05-24" stability="testing" version="0.8.0-rc1">
      <manifest-digest sha256new="4D2DTNXGPJFDDUGJGUPJIWHWVSFGYLT6K7KR24R5GQYBT6NVJIOA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0-rc1/docker-app-windows.tar.gz" size="23231126" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=3be2cdb925210ad93d07af0dc7ce27b58da424d6" released="2019-06-11" stability="testing" version="0.8.0">
      <manifest-digest sha256new="VMLI2FWR2O645VHRX23EGOCLQKHLJCHLLQFQ7TKZ7LXTAS6V5WIQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0/docker-app-windows.tar.gz" size="23238774" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=a1758c9b7257f5c6e760c6abdad2482a807b8362" released="2019-10-15" stability="testing" version="0.9.0-rc1">
      <manifest-digest sha256new="5C5AERVJO46OEACAVX3ED5Q3WUAK6DZ67TMQD6M75J3XX7HJYA7A"/>
      <archive href="https://github.com/docker/app/releases/download/v0.9.0-zeta1/docker-app-windows.tar.gz" size="13357522" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=c488e2888a03b5169897c4b4951bfd593716eb44" released="2019-11-08" stability="testing" version="0.9.0-pre1">
      <manifest-digest sha256new="VFPLZFZYJCISSJEJFIVWRWXVZAP7GVKPZG3R6NTAURKOCKUZECNQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.9.0-beta1/docker-app-windows.tar.gz" size="12320668" type="application/x-compressed-tar"/>
    </implementation>
  </group>

  <group arch="Linux-x86_64" license="Apache License 2.0">
    <command name="run" path="docker-app-plugin-linux">
      <arg>app</arg>
    </command>
    <implementation id="sha1new=9e47e0deaf51adda85cb8986edd664d483258feb" released="2019-04-18" stability="testing" version="0.8.0-pre1">
      <manifest-digest sha256new="VAIZAV4UUTUWEAMOTLZTHVJEICPIMSPFMHQ25B35SZQGOJM5M2XA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0-beta1/docker-app-linux.tar.gz" size="23990662" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=d0ad06f4282d605de6f6d013548012e10cfec67f" released="2019-04-26" stability="testing" version="0.8.0-pre2">
      <manifest-digest sha256new="GPOXREH6THIUITR5KAGJ5AZHQXESCQRMEMZJH65QCZ6KV6XLPK6Q"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0-beta2/docker-app-linux.tar.gz" size="24009459" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=1a301c5e4113320dd5bde5e22eca58db5b102d5b" released="2019-05-24" stability="testing" version="0.8.0-rc1">
      <manifest-digest sha256new="AWCC7ZCYLOU5QIOUQRTVDULPHW2W32DRFX5F72HDA4NXV4OTGS2A"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0-rc1/docker-app-linux.tar.gz" size="23250615" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=3487e9ad5c3b5488ea1429e782824cb9c561fda3" released="2019-06-11" stability="testing" version="0.8.0">
      <manifest-digest sha256new="6JCYJ7K7F6XMPEMUDIVOVIL7YLQ2G62HRCEXVCZY5M7ASZHJKLMQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0/docker-app-linux.tar.gz" size="23257777" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=9b6c3100ea014c234dca792740c6caa6d2233ec9" released="2019-10-15" stability="testing" version="0.9.0-rc1">
      <manifest-digest sha256new="W2Q7PXPHHXERC3O7GYAYZBEEIMUMYYCBASS2ZMUYVKXSVVR3LWTQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.9.0-zeta1/docker-app-linux.tar.gz" size="13612245" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=cb5d6d9c1caac97b533c3fefc7540ffbda46de9f" released="2019-11-08" stability="testing" version="0.9.0-pre1">
      <manifest-digest sha256new="NPFBKIM7H5UXLRALBY46FBO4IHSZGB65NZH5LMVPAJALE5YMZWWA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.9.0-beta1/docker-app-linux.tar.gz" size="12429357" type="application/x-compressed-tar"/>
    </implementation>
  </group>

  <group arch="Darwin-x86_64" license="Apache License 2.0">
    <command name="run" path="docker-app-plugin-darwin">
      <arg>app</arg>
    </command>
    <implementation id="sha1new=7e4851cba273f469c617519c4ef4ce6a6d3543ae" released="2019-04-18" stability="testing" version="0.8.0-pre1">
      <manifest-digest sha256new="N36YL3HNESG2IJBKPIJFXX6GE6XXSOSFFU7CACQZKHUMRYPNWPEA"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0-beta1/docker-app-darwin.tar.gz" size="26258419" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=42e2dc6fa13a03f188e36bf0fa0ca59c9bf8465d" released="2019-04-26" stability="testing" version="0.8.0-pre2">
      <manifest-digest sha256new="RK5KDFCOI4HUS3HJK5PTYEWOWCYRVFZOTLF3H5KXL6S7TWUGV22A"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0-beta2/docker-app-darwin.tar.gz" size="26283506" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=ce0070789161a00a5f66b472458c473a392402eb" released="2019-05-24" stability="testing" version="0.8.0-rc1">
      <manifest-digest sha256new="6NADBP3QCF2DZKC2RJGUJPJ7ZXAQATT6ZELAE453LTB2F5AQHDEQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0-rc1/docker-app-darwin.tar.gz" size="25447089" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=a8d7d6a209b490871e958ace5df5ef16fc3ecfe8" released="2019-06-11" stability="testing" version="0.8.0">
      <manifest-digest sha256new="RU2NRME6CTLBKPSSQAYJJMKHYNPQNH654OCHZPWADYVYSTXM76FQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.8.0/docker-app-darwin.tar.gz" size="25459546" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=20530256e8fd8f5a181f253fd002b9e197f09185" released="2019-10-15" stability="testing" version="0.9.0-rc1">
      <manifest-digest sha256new="JLC7ZMU2I2KVJ7B4NBPVLKMOUJFGTXLIISQO6EXTKUYX6DIGKWDQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.9.0-zeta1/docker-app-darwin.tar.gz" size="14658505" type="application/x-compressed-tar"/>
    </implementation>
    <implementation id="sha1new=46486c8522d65970d7d1d6c2379845276375f6ef" released="2019-11-08" stability="testing" version="0.9.0-pre1">
      <manifest-digest sha256new="WLXLLW5FA4BNYAZ4XP657MRS3EEBP5O7F5WMJMDLXR7T3U3UAWXQ"/>
      <archive href="https://github.com/docker/app/releases/download/v0.9.0-beta1/docker-app-darwin.tar.gz" size="13663139" type="application/x-compressed-tar"/>
    </implementation>
  </group>

  <entry-point binary-name="docker-app" command="run"/>
</interface>
