<?xml version="1.0"?>
<interface uri="https://apps.0install.net/lib/libwinpthread.xml" xmlns="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface http://0install.de/schema/injector/interface/interface.xsd http://0install.de/schema/desktop-integration/capabilities http://0install.de/schema/desktop-integration/capabilities/capabilities.xsd">
  <name>{name}</name>
  <summary>{desc}</summary>
  <description/>
  <homepage>{url}</homepage>
  <group license="{license}">
    <group version="{version}">
      <dc:creator>{packager}</dc:creator>
      <implementation arch="Windows-x86_64">
        <dc:available>{released}</dc:available>
	<manifest-digest/>
        <archive extract="mingw64" href="{pkg_url}"/>
      </implementation>
      <implementation arch="Windows-i686">
        <dc:available>{released32}</dc:available>
	<manifest-digest/>
        <archive extract="mingw32" href="{pkg_url32}"/>
      </implementation>
    </group>
  </group>

  <feed-for interface="https://apps.0install.net/lib/libwinpthread.xml"/>
</interface>
