<?xml version="1.0" ?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>Nmap</name>
  <summary>utility for network discovery and security auditing</summary>
  <description>Nmap (Network Mapper) is a free and open source utility for network discovery and security auditing. Many systems and network administrators also find it useful for tasks such as network inventory, managing service upgrade schedules, and monitoring host or service uptime. Nmap uses raw IP packets in novel ways to determine what hosts are available on the network, what services (application name and version) those hosts are offering, what operating systems (and OS versions) they are running, what type of packet filters/firewalls are in use, and dozens of other characteristics. It was designed to rapidly scan large networks, but works fine against single hosts.</description>
  <homepage>https://nmap.org/</homepage>
  <icon href="https://raw.githubusercontent.com/0install/apps.0install.net/master/utils/nmap.ico" type="image/vnd.microsoft.icon"/>
  <icon href="https://raw.githubusercontent.com/0install/apps.0install.net/master/utils/nmap.png" type="image/png"/>
  <category>Network</category>
  <category>Utility</category>
  <needs-terminal/>

  <feed-for interface="https://apps.0install.net/utils/nmap.xml"/>

  <group arch="Windows-*" license="modfied GPL">
    <requires interface="https://apps.0install.net/lib/msvc100.xml"/>
    <command name="run" path="nmap.exe"/>
    <command name="ncat" path="ncat.exe"/>
    <command name="nping" path="nping.exe"/>
    <command name="ndiff" path="ndiff.py">
      <runner interface="https://apps.0install.net/python/python.xml" version="2.6..!3"/>
    </command>
    <implementation version="{version}" released="{released}" stability="stable">
      <manifest-digest/>
      <archive href="http://nmap.org/dist/nmap-{version}-win32.zip" type="application/zip" extract="nmap-{version}"/>
    </implementation>
  </group>

  <group doc-dir="usr/share/doc/nmap" license="modfied GPL">
    <command name="run" path="usr/bin/nmap"/>
    <command name="ndiff" path="usr/lib/python2.6/site-packages/ndiff.py">
      <runner interface="https://apps.0install.net/python/python.xml" version="2.6..!3"/>
    </command>
    <implementation arch="Linux-x86_64" version="{version}-1" released="{released}" stability="stable">
      <manifest-digest/>
      <archive href="http://nmap.org/dist/nmap-{version}-1.x86_64.rpm" type="application/x-rpm"/>
    </implementation>
    <implementation arch="Linux-i686" version="{version}-1" released="{released}" stability="stable">
      <manifest-digest/>
      <archive href="http://nmap.org/dist/nmap-{version}-1.i686.rpm" type="application/x-rpm"/>
    </implementation>
  </group>
</interface>
