# Generate signed feeds and publish to GitHub Pages
name: Publish
on:
  workflow_dispatch: {}
  push:
    branches: [master]
    paths: ['0repo-config.py', '**/*.xml']

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Set up directory structure
        uses: 0install/apps/.github/actions/setup@master
      - name: Run 0repo
        uses: 0install/apps/.github/actions/0repo@master
        with:
          gpg_key: ${{secrets.GPG_KEY}}
      - name: Push public
        run: cd public; git push
